{% extends "blog/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/top.css' %}">
{% endblock %}

{% block title %}煮卵ラボ{% endblock title %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>煮卵ラボ</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'blog/js/top.js' %}"></script>
{% endblock %}

