{% extends "blog/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/top.css' %}">
{% endblock %}

{% block title %}煮卵ラボ{% endblock title %}

{% block content %}
<!-- Page Header -->
    <div class="overlay"></div>
    <div class="container title-wrapper">
        <div class="row block-centering">
            <div class="col-lg-8 col-md-10 mx-auto" style="padding:80px 0 0 0">
                <div class="site-heading text-center">
                    <h1>煮卵ラボ</h1>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    {% for item in all %}
        <div class="">
            <button class="posts-panel"  onclick="location.href='index/{{ item.id }}/'">
                    {% autoescape off %}
                    <h3> {{ item.title }} </h3>
                    <p> {{ item.abstract }} </p>
                    {% endautoescape %}
            </button>
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'blog/js/top.js' %}"></script>
{% endblock %}

