{% extends "banpick/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'banpick/css/herobutton.css' %}">
{% endblock %}

{% block title %}バンピック支援ツール{% endblock title %}

{% block content %}
    <h1>バンピック支援ツール / Ban Pick Assitant</h1>
    <form name="pick_info" action="/banpick/" method="POST">{% csrf_token %}
        {{ pick_info }}
    </form>

    <div id="pick_seq">
       {% for icon in icon_list %}
            {% ifequal icon.team "blue" %}
                <div class="blue">
                    <img class="heroicon" src="{% static icon.path %}"/>
                    <br>
                    {% for f in icon.feature %}
                        <img class="featureicon" src="{% static f %}"/>
                    {% endfor %}
                </div>
            {% endifequal %}
            {% ifequal icon.team "red" %}
                <div class="red">
                    <img class="heroicon" src="{% static icon.path %}"/>
                    <br>
                    {% for f in icon.feature %}
                        <img class="featureicon" src="{% static f %}"/>
                    {% endfor %}
                </div>
            {% endifequal %}
        {% endfor %}
        <br>
        <button type="button" class="btn btn-default" onclick="undo(this)">戻す / Undo</button>
        <button type="button" class="btn btn-default" onclick="reset(this)">リセット / Reset</button>
    </div>

    <span class="blue_box">　</span>
    <span> Win：{{ current.win_rate }} %</span>
    <br>
    <span class="red_box">　</span>
    <span> Win：{{ current.lose_rate }} %</span>

    <div class="btn-group-vertical" role="group">
        {% ifequal phase "ban" %}
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="select(this)" name="adagio">
                <img class="heroicon" src="{% static 'icons/adagio.png' %}"/>
                {% for icon in hero_dict.Adagio.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Adagio.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span> Win：{{ hero_dict.Adagio.win_rate }} %</span>
                <br>
                <span class="red_box">　</span>
                <span> Win：{{ hero_dict.Adagio.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="alpha">
                <img class="heroicon" src="{% static 'icons/alpha.png' %}"/>
                {% for icon in hero_dict.Alpha.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Alpha.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Alpha.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Alpha.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="ardan">
                <img class="heroicon" src="{% static 'icons/ardan.png' %}"/>
                {% for icon in hero_dict.Ardan.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Ardan.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Ardan.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Ardan.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="baptiste">
                <img class="heroicon" src="{% static 'icons/baptiste.png' %}"/>
                {% for icon in hero_dict.Baptiste.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Baptiste.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Baptiste.win_rate }} %<span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Baptiste.lose_rate }} %<span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="baron">
                <img class="heroicon" src="{% static 'icons/baron.png' %}"/>
                {% for icon in hero_dict.Baron.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Baron.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Baron.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Baron.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="blackfeather">
                <img class="heroicon" src="{% static 'icons/blackfeather.png' %}"/>
                {% for icon in hero_dict.Blackfeather.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Blackfeather.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Blackfeather.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Blackfeather.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="catherine">
                <img class="heroicon" src="{% static 'icons/catherine.png' %}"/>
                {% for icon in hero_dict.Catherine.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Catherine.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Catherine.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Catherine.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="celeste">
                <img class="heroicon" src="{% static 'icons/celeste.png' %}"/>
                {% for icon in hero_dict.Celeste.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Celeste.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Celeste.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Celeste.lose_rate }} %</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="select(this)" name="churnwalker">
                <img class="heroicon" src="{% static 'icons/churnwalker.png' %}"/>
                {% for icon in hero_dict.Churnwalker.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Churnwalker.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Churnwalker.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Churnwalker.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="flicker">
                <img class="heroicon" src="{% static 'icons/flicker.png' %}"/>
                {% for icon in hero_dict.Flicker.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Flicker.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Flicker.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Flicker.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="fortress">
                <img class="heroicon" src="{% static 'icons/fortress.png' %}"/>
                {% for icon in hero_dict.Fortress.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Fortress.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Fortress.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Fortress.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="glaive">
                <img class="heroicon" src="{% static 'icons/glaive.png' %}"/>
                {% for icon in hero_dict.Glaive.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Glaive.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Glaive.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Glaive.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="grace">
                <img class="heroicon" src="{% static 'icons/grace.png' %}"/>
                {% for icon in hero_dict.Grace.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Grace.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Grace.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Grace.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="grumpjaw">
                <img class="heroicon" src="{% static 'icons/grumpjaw.png' %}"/>
                {% for icon in hero_dict.Grumpjaw.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Grumpjaw.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Grumpjaw.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Grumpjaw.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="gwen">
                <img class="heroicon" src="{% static 'icons/gwen.png' %}"/>
                {% for icon in hero_dict.Gwen.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Gwen.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Gwen.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Gwen.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="idris">
                <img class="heroicon" src="{% static 'icons/idris.png' %}"/>
                {% for icon in hero_dict.Idris.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Idris.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Idris.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Idris.lose_rate }} %</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="select(this)" name="joule">
                <img class="heroicon" src="{% static 'icons/joule.png' %}"/>
                {% for icon in hero_dict.Joule.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Joule.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Joule.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Joule.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="kestrel">
                <img class="heroicon" src="{% static 'icons/kestrel.png' %}"/>
                {% for icon in hero_dict.Kestrel.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Kestrel.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Kestrel.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Kestrel.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="koshka">
                <img class="heroicon" src="{% static 'icons/koshka.png' %}"/>
                {% for icon in hero_dict.Koshka.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Koshka.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Koshka.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Koshka.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="krul">
                <img class="heroicon" src="{% static 'icons/krul.png' %}"/>
                {% for icon in hero_dict.Krul.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Krul.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Krul.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Krul.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="lance">
                <img class="heroicon" src="{% static 'icons/lance.png' %}"/>
                {% for icon in hero_dict.Lance.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Lance.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Lance.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Lance.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="lorelai">
                <img class="heroicon" src="{% static 'icons/lorelai.png' %}"/>
                {% for icon in hero_dict.Lorelai.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Lorelai.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Lorelai.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Lorelai.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="lyra">
                <img class="heroicon" src="{% static 'icons/lyra.png' %}"/>
                {% for icon in hero_dict.Lyra.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Lyra.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Lyra.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Lyra.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="malene">
                <img class="heroicon" src="{% static 'icons/malene.png' %}"/>
                {% for icon in hero_dict.Malene.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Malene.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Malene.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Malene.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="ozo">
                <img class="heroicon" src="{% static 'icons/ozo.png' %}"/>
                {% for icon in hero_dict.Ozo.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Ozo.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Ozo.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Ozo.lose_rate }} %</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="select(this)" name="petal">
                <img class="heroicon" src="{% static 'icons/petal.png' %}"/>
                {% for icon in hero_dict.Petal.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Petal.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Petal.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Petal.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="phinn">
                <img class="heroicon" src="{% static 'icons/phinn.png' %}"/>
                {% for icon in hero_dict.Phinn.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Phinn.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Phinn.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Phinn.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="reim">
                <img class="heroicon" src="{% static 'icons/reim.png' %}"/>
                {% for icon in hero_dict.Reim.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Reim.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Reim.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Reim.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="reza">
                <img class="heroicon" src="{% static 'icons/reza.png' %}"/>
                {% for icon in hero_dict.Reza.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Reza.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Reza.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Reza.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="ringo">
                <img class="heroicon" src="{% static 'icons/ringo.png' %}"/>
                {% for icon in hero_dict.Ringo.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Ringo.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Ringo.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Ringo.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="rona">
                <img class="heroicon" src="{% static 'icons/rona.png' %}"/>
                {% for icon in hero_dict.Rona.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Rona.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Rona.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Rona.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="samuel">
                <img class="heroicon" src="{% static 'icons/samuel.png' %}"/>
                {% for icon in hero_dict.Samuel.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Samuel.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Samuel.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Samuel.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="saw">
                <img class="heroicon" src="{% static 'icons/saw.png' %}"/>
                {% for icon in hero_dict.SAW.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.SAW.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.SAW.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.SAW.lose_rate }} %</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="select(this)" name="skaarf">
                <img class="heroicon" src="{% static 'icons/skaarf.png' %}"/>
                {% for icon in hero_dict.Skaarf.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Skaarf.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Skaarf.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Skaarf.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="skye">
                <img class="heroicon" src="{% static 'icons/skye.png' %}"/>
                {% for icon in hero_dict.Skye.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Skye.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Skye.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Skye.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="taka">
                <img class="heroicon" src="{% static 'icons/taka.png' %}"/>
                {% for icon in hero_dict.Taka.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Taka.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Taka.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Taka.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="tony">
                <img class="heroicon" src="{% static 'icons/tony.png' %}"/>
                {% for icon in hero_dict.Tony.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Tony.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Tony.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Tony.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="varya">
                <img class="heroicon" src="{% static 'icons/varya.png' %}"/>
                {% for icon in hero_dict.Varya.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Varya.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Varya.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Varya.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="vox">
                <img class="heroicon" src="{% static 'icons/vox.png' %}"/>
                {% for icon in hero_dict.Vox.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ hero_dict.Vox.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Vox.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Vox.lose_rate }} %</span>
            </button>
        </div>
        {% endifequal %}

        {% ifnotequal phase "ban" %}
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="select(this)" name="adagio">
                <img class="heroicon" src="{% static 'icons/adagio.png' %}"/>
                {% for icon in hero_dict.Adagio.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Adagio.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span> Win：{{ hero_dict.Adagio.win_rate }} %</span>
                <br>
                <span class="red_box">　</span>
                <span> Win：{{ hero_dict.Adagio.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="alpha">
                <img class="heroicon" src="{% static 'icons/alpha.png' %}"/>
                {% for icon in hero_dict.Alpha.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Alpha.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Alpha.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Alpha.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="ardan">
                <img class="heroicon" src="{% static 'icons/ardan.png' %}"/>
                {% for icon in hero_dict.Ardan.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Ardan.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Ardan.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Ardan.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="baptiste">
                <img class="heroicon" src="{% static 'icons/baptiste.png' %}"/>
                {% for icon in hero_dict.Baptiste.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Baptiste.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Baptiste.win_rate }} %<span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Baptiste.lose_rate }} %<span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="baron">
                <img class="heroicon" src="{% static 'icons/baron.png' %}"/>
                {% for icon in hero_dict.Baron.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Baron.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Baron.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Baron.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="blackfeather">
                <img class="heroicon" src="{% static 'icons/blackfeather.png' %}"/>
                {% for icon in hero_dict.Blackfeather.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Blackfeather.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Blackfeather.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Blackfeather.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="catherine">
                <img class="heroicon" src="{% static 'icons/catherine.png' %}"/>
                {% for icon in hero_dict.Catherine.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Catherine.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Catherine.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Catherine.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="celeste">
                <img class="heroicon" src="{% static 'icons/celeste.png' %}"/>
                {% for icon in hero_dict.Celeste.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Celeste.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Celeste.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Celeste.lose_rate }} %</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="select(this)" name="churnwalker">
                <img class="heroicon" src="{% static 'icons/churnwalker.png' %}"/>
                {% for icon in hero_dict.Churnwalker.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Churnwalker.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Churnwalker.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Churnwalker.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="flicker">
                <img class="heroicon" src="{% static 'icons/flicker.png' %}"/>
                {% for icon in hero_dict.Flicker.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Flicker.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Flicker.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Flicker.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="fortress">
                <img class="heroicon" src="{% static 'icons/fortress.png' %}"/>
                {% for icon in hero_dict.Fortress.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Fortress.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Fortress.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Fortress.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="glaive">
                <img class="heroicon" src="{% static 'icons/glaive.png' %}"/>
                {% for icon in hero_dict.Glaive.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Glaive.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Glaive.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Glaive.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="grace">
                <img class="heroicon" src="{% static 'icons/grace.png' %}"/>
                {% for icon in hero_dict.Grace.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Grace.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Grace.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Grace.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="grumpjaw">
                <img class="heroicon" src="{% static 'icons/grumpjaw.png' %}"/>
                {% for icon in hero_dict.Grumpjaw.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Grumpjaw.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Grumpjaw.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Grumpjaw.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="gwen">
                <img class="heroicon" src="{% static 'icons/gwen.png' %}"/>
                {% for icon in hero_dict.Gwen.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Gwen.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Gwen.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Gwen.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="idris">
                <img class="heroicon" src="{% static 'icons/idris.png' %}"/>
                {% for icon in hero_dict.Idris.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Idris.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Idris.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Idris.lose_rate }} %</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="select(this)" name="joule">
                <img class="heroicon" src="{% static 'icons/joule.png' %}"/>
                {% for icon in hero_dict.Joule.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Joule.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Joule.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Joule.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="kestrel">
                <img class="heroicon" src="{% static 'icons/kestrel.png' %}"/>
                {% for icon in hero_dict.Kestrel.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Kestrel.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Kestrel.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Kestrel.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="koshka">
                <img class="heroicon" src="{% static 'icons/koshka.png' %}"/>
                {% for icon in hero_dict.Koshka.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Koshka.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Koshka.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Koshka.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="krul">
                <img class="heroicon" src="{% static 'icons/krul.png' %}"/>
                {% for icon in hero_dict.Krul.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Krul.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Krul.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Krul.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="lance">
                <img class="heroicon" src="{% static 'icons/lance.png' %}"/>
                {% for icon in hero_dict.Lance.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Lance.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Lance.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Lance.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="lorelai">
                <img class="heroicon" src="{% static 'icons/lorelai.png' %}"/>
                {% for icon in hero_dict.Lorelai.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Lorelai.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Lorelai.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Lorelai.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="lyra">
                <img class="heroicon" src="{% static 'icons/lyra.png' %}"/>
                {% for icon in hero_dict.Lyra.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Lyra.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Lyra.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Lyra.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="ozo">
                <img class="heroicon" src="{% static 'icons/ozo.png' %}"/>
                {% for icon in hero_dict.Ozo.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Ozo.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Ozo.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Ozo.lose_rate }} %</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="select(this)" name="petal">
                <img class="heroicon" src="{% static 'icons/petal.png' %}"/>
                {% for icon in hero_dict.Petal.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Petal.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Petal.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Petal.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="phinn">
                <img class="heroicon" src="{% static 'icons/phinn.png' %}"/>
                {% for icon in hero_dict.Phinn.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Phinn.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Phinn.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Phinn.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="reim">
                <img class="heroicon" src="{% static 'icons/reim.png' %}"/>
                {% for icon in hero_dict.Reim.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Reim.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Reim.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Reim.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="reza">
                <img class="heroicon" src="{% static 'icons/reza.png' %}"/>
                {% for icon in hero_dict.Reza.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Reza.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Reza.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Reza.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="ringo">
                <img class="heroicon" src="{% static 'icons/ringo.png' %}"/>
                {% for icon in hero_dict.Ringo.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Ringo.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Ringo.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Ringo.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="rona">
                <img class="heroicon" src="{% static 'icons/rona.png' %}"/>
                {% for icon in hero_dict.Rona.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Rona.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Rona.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Rona.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="samuel">
                <img class="heroicon" src="{% static 'icons/samuel.png' %}"/>
                {% for icon in hero_dict.Samuel.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Samuel.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Samuel.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Samuel.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="saw">
                <img class="heroicon" src="{% static 'icons/saw.png' %}"/>
                {% for icon in hero_dict.SAW.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.SAW.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.SAW.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.SAW.lose_rate }} %</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="select(this)" name="skaarf">
                <img class="heroicon" src="{% static 'icons/skaarf.png' %}"/>
                {% for icon in hero_dict.Skaarf.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Skaarf.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Skaarf.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Skaarf.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="skye">
                <img class="heroicon" src="{% static 'icons/skye.png' %}"/>
                {% for icon in hero_dict.Skye.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Skye.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Skye.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Skye.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="taka">
                <img class="heroicon" src="{% static 'icons/taka.png' %}"/>
                {% for icon in hero_dict.Taka.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Taka.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Taka.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Taka.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="tony">
                <img class="heroicon" src="{% static 'icons/tony.png' %}"/>
                {% for icon in hero_dict.Tony.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Tony.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Tony.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Tony.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="varya">
                <img class="heroicon" src="{% static 'icons/varya.png' %}"/>
                {% for icon in hero_dict.Varya.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Varya.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Varya.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Varya.lose_rate }} %</span>
            </button>
            <button type="button" class="btn btn-default" onclick="select(this)" name="vox">
                <img class="heroicon" src="{% static 'icons/vox.png' %}"/>
                {% for icon in hero_dict.Vox.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ hero_dict.Vox.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span>Win：{{ hero_dict.Vox.win_rate }} %</span>
                <br> <span class="red_box">　</span>
                <span>Win：{{ hero_dict.Vox.lose_rate }} %</span>
            </button>
        </div>
        {% endifnotequal %}
    </div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'banpick/js/herobutton.js' %}"></script>
{% endblock %}

