{% extends "banpick/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'banpick/css/herobutton.css' %}">
{% endblock %}

{% block title %}バンピック支援ツール{% endblock title %}

{% block content %}
    <h1>バンピック支援ツール / Ban Pick Assitant</h1>
    <form name="pick_info" action="/banpick/" method="POST">{% csrf_token %}
        {{ pick_info }}
    </form>

    <div id="pick_seq">
       {% for icon in icon_list %}
            {% ifequal icon.team "blue" %}
                <div class="blue">
                    <img class="heroicon" src="{% static icon.path %}"/>
                    <br>
                    {% for f in icon.feature %}
                        <img class="featureicon" src="{% static f %}"/>
                    {% endfor %}
                </div>
            {% endifequal %}
            {% ifequal icon.team "red" %}
                <div class="red">
                    <img class="heroicon" src="{% static icon.path %}"/>
                    <br>
                    {% for f in icon.feature %}
                        <img class="featureicon" src="{% static f %}"/>
                    {% endfor %}
                </div>
            {% endifequal %}
        {% endfor %}
        <br>
        <button type="button" class="btn btn-default" onclick="undo(this)">戻す / Undo</button>
        <button type="button" class="btn btn-default" onclick="reset(this)">リセット / Reset</button>
    </div>

    <span class="blue_box">　</span>
    <span> Win：{{ current.win_rate }} %</span>
    <br>
    <span class="red_box">　</span>
    <span> Win：{{ current.lose_rate }} %</span>

    <div class="btn-group-vertical" role="group">
    {% for btn_grp in btn_grps %}
        {% ifequal phase "ban" %}
        <div class="btn-group" role="group">
            {% for btn in btn_grp %}
            <button type="button" class="btn btn-default" onclick="select(this)" name={{ btn.hero.name }}>
                <img class="heroicon" src="{% static btn.icon_path %}"/>
                {% for icon in btn.hero.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Ban：{{ btn.hero.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span> Win：{{ btn.hero.win_rate }} %</span>
                <br>
                <span class="red_box">　</span>
                <span> Win：{{ btn.hero.lose_rate }} %</span>
            </button>
            {% endfor %}
        </div>
        {% endifequal %}

        {% ifnotequal phase "ban" %}
        <div class="btn-group" role="group">
            {% for btn in btn_grp %}
            <button type="button" class="btn btn-default" onclick="select(this)" name=btn.hero.name>
                <img class="heroicon" src="{% static btn.icon_path %}"/>
                {% for icon in btn.hero.feature %}
                    <img class="featureicon" src="{% static icon %}"/>
                {% endfor %}
                <br>Pick：{{ btn.hero.pick_rate }} %
                <br> <span class="blue_box">　</span>
                <span> Win：{{ btn.hero.win_rate }} %</span>
                <br>
                <span class="red_box">　</span>
                <span> Win：{{ btn.hero.lose_rate }} %</span>
            </button>
            {% endfor %}
        </div> 
        {% endifnotequal %}
    {% endfor %}
    </div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'banpick/js/herobutton.js' %}"></script>
{% endblock %}

